.header {
  > div {
    width: 100%;
    .menu {
      position: fixed;
      top: 0;
      height: 100vh;
      width: 320px;
      left: -100vw;
      background-color: #070d0d;
      justify-content: center;
      outline: none;
      transition: all 0.3s cubic-bezier(0.52, 0.16, 0.24, 1);
      z-index: 3;
      .close-menu {
        position: absolute;
        top: 32px;
        right: 36px;
        height: 28px;
        width: 28px;
        cursor: pointer;
        svg {
          width: 100%;
          fill: var(--white);
        }
      }
      .menu-wrap {
        height: 500px;
        padding: 0;
        margin: 0;
        margin-top: 80px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        > div {
          a,
          p {
            text-decoration: none;
            color: #fff;
            font-size: 24px;
            text-align: center;
            &:hover {
              color: var(--primary);
            }
          }
          button {
            background-color: red;
            border-style: none;
            width: 130px;
            height: 30px;
            color: #fff;
            margin: 5px 5px;
          }
        }
      }
    }
    .open-menu {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 45px;
      height: 45px;
      cursor: pointer;
      svg {
        width: 40px;
        fill: var(--white);
      }
    }
  }
}

#header-home {
  position: absolute;
  z-index: 3;
  background-color: initial;
}

.menu-open {
  > div {
    .menu {
      left: 0;
    }
  }
}
